{% extends "DougenBoardBundle::layout.html.twig" %}

{% block content %}
<h1>簡易掲示板</h1>
<h2>{{ thread.title }}</h2>


<table class="table table-striped">
  <tr>
    <th class="col-md-2">投稿者</th>
    <th>メッセージ</th>
    <th class="col-md-2">投稿日時</th>
    <th class="col-md-1">削除</th>
  </tr>
  {% for post in posts %}
  <tr>
    <td>{{ post.name }}</td>
    <td>{{ post.content }}</td>
    <td>{{ post.created|date('Y/m/d H:i') }}</td>
    <td>
        <form method="post" action="{{ path('_delete', { 'post_id': post.id, 'thread_id': post.threadId }) }}" method="post">
            <input class="btn common-btn" type="submit" value="削除">
        </form>
    </td>
  </tr>
  {% endfor %}
</table>

<h3>新規投稿</h3>
<form action="{{ path('_thread', { 'thread_id': thread.id }) }}" method="post" role="form" {{ form_enctype(form) }} >
  <div class="form-group">
  {{ form_label(form.name, '投稿者名：') }}
  {{ form_row(form.name, {'attr': {'class': 'form-control', 'placeholder': '投稿者名を入力して下さい'}}) }}
  {{ form_errors(form.name) }}
  </div>
  <div class="form-group">
  {{ form_label(form.content, 'メッセージ：') }}
  {{ form_row(form.content, {'attr': {'class': 'form-control', 'placeholder': 'メッセージを入力して下さい'}}) }}
  {{ form_errors(form.content) }}
  {{ form_rest(form) }}
  </div>
  <input type="submit" class="btn btn-primary common-btn" />
</form>

<a href="{{ path('_index') }}" class="btn btn-warning common-btn">戻る</a>
{% endblock %}